* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

/* header style  */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav styles  */
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 102px;
    align-items: center;

}

.nav-title {
    font-size: 45px;
    font-weight: 700;

}

.menu ul {
    display: flex;
    justify-content: space-between;

}

.menu li {
    display: flex;
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-title h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-info {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.btn-1 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 5px;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 5px;
}

.banner-img {

    margin-top: 50px;
    width: 1440px;
}

/* quicklist styles  */
.quicklist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin: 85px 301px 301px 130px;
}

.quicklist-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.quicklist-text {
    width: 537px;
    height: 304px;

}

.quicklist-title {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;

}

.quiclist-info {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.color2 {
    color: #727272;
}

.color1 {
    color: #FF900E;
}

/* features styles */
.features {
    display: flex;
    gap: 54px;
    justify-content: center;
}

.features-title-text {
    border-left: #FF900E solid 8px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}

.features-title p,
.facts-title p,
.sponsors-text p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.features-box {
    margin-top: 30px;
    width: 586px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;

}

.features-box-title {
    margin-bottom: 20px;
}

.features-img img {
    width: 708px;
    height: 982;

}

.features-btn {
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    border: 0;
    padding-top: 50px;
    padding-bottom: 60px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 5px;
    margin-bottom: -600px;
    margin-right: -180px;
    z-index: 1;
}

.font-size1 {
    font-size: 25px;
}

/* facts styles */
.facts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 160px;
}

.facts-text {
    margin-top: 200px;
}

.facts-title-text {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
}

.facts-boxes {
    margin-top: 100px;
    width: 100%;
    display: flex;
    gap: 125px;
    justify-content: center;
    margin-left: -100px;
}

.facts-box {
    height: 242px;
    width: 242px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: width 2s;
}

.facts-box:hover{
    width: 300px;
    background-color: antiquewhite;
}

.facts-box-title {
    font-size: 30px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 10px;
    margin-top: 20px;
}

.facts-box-info {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

/* sponsors styles */

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 180px;
}

.sponsors-text {
    text-align: center;
    align-items: center;
}

.sponsors-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.sponsors-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}

.sponsors-img img {
    filter: grayscale();
}

/* footer styles  */

.footer-box {
    padding: 30px;

    margin: 180px auto 100px;
    width: 75%;

    text-align: center;
    background-color: #FFF4E7;

}

/* media queries */
@media only screen and (max-width:576px) {
    .nav {
        margin: 0 50px 100px 30px;
        align-items: flex-start;
        flex-direction: column;
    }

    .menu ul {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;

    }

    .menu li {
        margin: 20px 0 0 0;
    }

    .banner-img img {
        width: 414px;
    }

    .quicklist {
        flex-direction: column;
    }

    .quicklist-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .quicklist-img img {
        width: 400px;
        padding-left: 160px;
    }

    .quicklist-text {
        width: 414px;
        text-align: start;
        justify-content: flex-start;
        padding-left: 180px;

    }

    .quiclist-info {
        margin-right: 20px;
    }

    .features {
        flex-direction: column;

    }

    .features-box {
        width: 400px;
        padding-left: 5px;
    }

    .features-img img {
        width: 414px;
    }

    .features-btn {
        position: relative;
        bottom: -600px;
    }

    .facts {
        margin-left: 10px;
    }

    .facts-boxes {
        flex-direction: column;
        gap: 20px;
        margin-left: 0;
    }

    .sponsors-img {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .sponsors-img img {
        width: 70%;
    }
}